body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

/*Only styles necessary for zoom feature*/
.image-container {
  height: 500px;
  width: 500px;
  top: 80px;
  left: 100px;
  padding: 20px;
  text-align: center;
  position: fixed;
  overflow: hidden;
  z-index: auto;
}

.top-image {
  height: 100%;
  width: auto;
}

/*So the image opacity doesn't change abruptly*/
.transition-opacity {
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s;
}
